.mobile-content-details-nav-out-left
  background: orange
.mobile-content-details-nav-out-right
  background: blue
.mobile-content-details-nav-in-left
  background: green
.mobile-content-details-nav-in-right
  background: aqua